.box{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #F5F5F5;
    margin: 2px;
}
.box.black{
    background-color: #414141;
}
.chip{
    position: absolute;
    height: 40px;
    width: 40px;
    background-image: url("img/black.jpg");
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 6px;
    z-index: 2;
}
.chip.white{
    background-image: url("img/white.jpg");
}
.chip.selected{
    border: 2px solid #00ff08;
    height: 38px;
    width: 38px;
}
.chip.red{
    border: 2px solid red;
    height: 38px;
    width: 38px;
}